
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6em;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	line-height: 1.6em;
}
h1{
	margin: 0px;
	font-weight: 300;
	color: #fff;
	padding-left: 15px;
}
h3{
	color: #000;
	opacity: 0.4;
	margin-top: -10px;
	padding-left: 15px;
}
.biography, .contact{
	padding: 100px 0;
}

/* Navbar css starts */
.navbar-default{
	background-color: transparent;
	border: 0px;
}
.navbar-brand{
	height: 60px;
}
.navbar-default:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.7);
}
.navbar-brand>img{
	width: 97px;
	position: relative;
	z-index: 9;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-nav{
	text-align: center !important;
	float: none;
}
.nav>li{
	display: inline-block;
	float: none;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	opacity: 0.6;
}
 .navbar-default .navbar-toggle .icon-bar{
 	background-color: #fff;
	opacity: 0.6;
 }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	opacity: 1;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: inherit;
	color: #fff;
	opacity: 1;
}
.navbar-toggle{
	margin-top: 15px;
	border: 0px;
	border-radius: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover .icon-bar{
	opacity: 1;
}
/* Navbar css ends */

/* Hexagon image show css starts */
.img-show{
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 70px;
}
.img-show .inner{
	display: table-cell;
	vertical-align: middle;
}
.hexagon {
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: #fff;
	-webkit-mask-box-image: url('../images/hexagon.png');
	text-align: center;
	width: 17%;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    margin: 0 10px;
}
.hexagon .content{
	display: block;
	width: auto;
	margin: auto;
}
.hexagon a {
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}
.img-show ul{
	padding: 0px;
}
.img-show ul.mrgnTop{
	margin-top: -62px;
}
/* Hexagon image show css ends */

/* Biography section css starts */
.biography{
	background-color: #2eb398;
	color: #fff;
}
.biography .inner{
	display: table;
	width: 100%;
}
.biography .inner .inline{
	display: table-cell;
	vertical-align: middle;
}
.biography .text{
	padding-left: 30px;
}
.biography h1, .biography h3{
	padding-left: 0px;
}
.biography p{
	font-size: 16px;
	line-height: 1.9em;
	font-weight: 300;
}
.social-icons{
	text-align: right;
}
.social-icons .fa{
	font-size: 17px;
	background-color: #fff;
	text-align: center;
	color: #2EAF97;
	padding: 8px;
	opacity: 0.7;
	cursor: pointer;
	display: block;
    float: left;
    transition:all 0.3s ease;
    width: inherit;
}
.social-icons .fa:hover{
	opacity: 1;
	-webkit-transform: rotate(360deg);
  	transform: rotate(360deg);
}
.social{
	overflow: hidden;
	color: #fff;
	-webkit-mask-box-image: url('../images/hexagon.png');
	text-align: center;
	width: 30px;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    margin: 0 0px;
    position: relative;
	display: inline-block;
}
/* Biography section css ends */

/* Contact section css starts */
.contact{
	background-color: #323232;
}
.contact form{
	margin-top: 30px;
}
.form-group{
	margin-bottom: 25px;
}
.form-control{
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	border-radius: 0px;
	font-size: 16px;
	background-color: #474747;
	background-image: none;
	-webkit-transition: none;
	transition: none;
	-o-transition: none;
	border: 0px;
	font-weight: 300;
	color: #fff !important;
}
.form-control:focus{
	border: 1px solid #2EAF97;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.contact form .btn{
	float: right;
    border-radius: 0px;
    width: 100px;
    height: 45px;
    background: #2EAF97;
    color: #fff;
    font-size: 16px;
    -webkit-transition: -webkit-transform .1s ease,box-shadow .1s ease;
    -moz-transition: -moz-transform .1s ease,box-shadow .1s ease;
    -o-transition: -moz-transform .1s ease,box-shadow .1s ease;
    transition: transform .1s ease,box-shadow .1s ease;
}
.contact form .btn:hover{
	-webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.14),0 4px 9px rgba(0,0,0,.81);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.14),0 4px 9px rgba(0,0,0,.81);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.14),0 4px 9px rgba(0,0,0,.81);
}
.contact form .btn:focus{
	outline: none;
}
.contact h3{
	color: #fff;
    font-weight: 300;
    opacity: 0.6;
}
textarea.form-control{
	height: 150px;
}
.contact .intro p{
	margin: 25px 0 10px;
	text-align: justify;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.9em;
    opacity: 0.7;
}
.contact .intro p span{
	opacity: 1;
}
ul.contact-icons{
	margin-top: 80px;
}
ul.contact-icons li{
	margin-bottom: 10px;
}
.contact-icons .fa{
	color: #2EAF97;
	font-size: 20px;
	width: 30px;
}
.contact-icons .text{
	color: #fff;
	opacity: 0.7;
}
/* Contact section css ends */

/* Footer section */
footer{
	padding: 20px 30px;
    background: #222222;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
footer span{
	opacity: 0.4;
}

@media only screen and (max-width : 1120px){
	.img-show ul.mrgnTop{
		margin-top: -47px;
	}
}
@media only screen and (max-width : 769px){
	.img-show{
		height: 60vh;
	}
	.img-show ul.mrgnTop{
		margin-top: -39px;
	}
	.hexagon{
		margin: 0 5px;
	}
	section.biography .inner .inline{
		display: block;
		text-align: center;
	}
	section.biography .hexagon{
		width: 140px !important;
		height: 140px !important;
	}
	section.biography .text{
		padding: 0px;
	}
	.social-icons{
		text-align: center;
	}
}
@media only screen and (max-width : 480px){
	.hexagon{
		width: 16%;
		margin: 0 2px;
	}
	.img-show ul.mrgnTop{
		margin-top: -26px;
	}
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 22px;
		margin-top: -5px;
	}
	section.biography p{
		line-height: 1.6em;
		margin-bottom: 25px;
	}
	section.biography .inner .inline{
		padding: 0 15px;
	}
}

